@mixin align-center($font-size, $position, $translate-y) {
    font-size: $font-size;
    position: $position;
    top: 50%;
    transform: translateY($translate-y);
}
$textcolor: #c5c5c5;

body {
    background: #343436;
    
    .wrapper {
        position: relative;
        width: auto;
        color: $textcolor;
        .navbar {
            margin-bottom: 1px;
            min-height: 70px;
            #run-button {
                float: right;
                margin-right: 20px;
                @include align-center(inherit, relative, 25%);
            }
        }
        .navbar-brand {
            @include align-center(35px, absolute, -50%);
            color: $textcolor;
        }
    }
    
    .mainfield {
        position: relative;
        display: flex; 
        width: 100%;    
        .code-frame {
            min-width: 125px;
            flex: 1;
        }   
        
        .horizontal-resizer {
            //cursor: col-resize;
            width: 10px;
            left: 0 !important;
        }
        .editor-resizer {
            background: #343436;
            border-left:1px solid rgba(255,255,255,0.1);
            border-right:1px solid rgba(0,0,0,0.4);
            z-index: 2;

        }
        .powers {
            position: relative;
            background: rgba(0,0,0,0.4);
            color: #c5c5c5;
            h2 {
                position: relative;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    
    .output-container {
        display: grid;
        grid-template-columns: auto;
        height: 50vh;
    }
    
}
