@mixin align-center($font-size, $position, $translate-y) {
    font-size: $font-size;
    position: $position;
    top: 50%;
    transform: translateY($translate-y);
}

body {
    .navbar {
        margin-bottom: 0px;
    }
    background: gray;
    
    .wrapper {
        position: relative;
        width: auto;
        color: #c5c5c5;
        .navbar {
            min-height: 70px;
            #run-button {
                float: right;
                margin-right: 20px;
                @include align-center(inherit, relative, 25%);
            }
        }
        .navbar-brand {
            @include align-center(35px, absolute, -50%);
        }
    }
    
    .page-wrap {
        position: relative;
        display: block;
        width: auto;
        .boxes .top-boxes {
            display: table;
            margin-top: 7px;
            width: inherit;
            /* .box{ */
            /*     .box-editor-title span { */
            /*         //width: inherit; */
            /*     } */
            /*     width: 32.2%; */
            /*     display: block; */
            /*     position: relative; */
            /* } */
            .box-html, .box-css, .box-js {
                .box-editor-title span {
                    //width: inherit;
                }
                width: 32.2%;
                display: table-cell;
                position: relative;
            }
            
            .editor-resizer {
                display: table-cell;
                height: inherit;
                position: relative;
                background: #343436;
                z-index: 2;
                min-width: 20px;
                max-width: 20px;
                cursor: col-resize;
                border-left:1px solid rgba(255,255,255,0.1);
                border-right:1px solid rgba(0,0,0,0.4);
            }
            .outer-resizer {
                cursor: auto;
                max-width: 20px;
            }
        }
        .powers {
            position: relative;
            background: rgba(0,0,0,0.4);
            color: #c5c5c5;
            h2 {
                position: relative;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        .resizer {
            display: inherit;
            background: #343436;
            position: relative;
            z-index: 2;
            height: 20px;
            cursor: row-resize;
            border-left:1px solid rgba(255,255,255,0.1);
            border-right:1px solid rgba(0,0,0,0.4);
        }
    }

    .output-container {
        position: relative;
        width: auto;
        height: 100%;
        #result-frame {
            display: block;
            width: 100%;
            height: 400px;
        }
    }
}
